* {
box-sizing: border-box;  
}

body{
    background-image: url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

.container{
    min-height: 90vh;
}

img {
    width: 100%;
}

.container_box{
    width: 90%;
    margin: 3em auto;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    text-align: center;
    -webkit-box-shadow: -3px 48px 29px -11px rgba(0,0,0,0.35); 
    box-shadow: -3px 48px 29px -11px rgba(0,0,0,0.35);
}

.hero{
    border-radius: 15px 15px 0 0;
}

.container__box___content {
 width: 90%;
 margin: 0 auto;
 padding: 1em;

}

.title {
    color: black;
    font-weight: 700;
    
}

.btn{
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
}

.payment_btn{
    color: hsl(225, 100%, 98%);
    border: solid transparent 1px;
    background-color: hsl(245, 75%, 52%);
    padding: .8em;
    border-radius: 15px;
    margin: 1em 0;
    -webkit-box-shadow: -3px 48px 29px -11px rgba(0,0,0,0.35); 
    box-shadow: -3px 48px 29px -11px rgba(0,0,0,0.35);
}

.payment_btn:hover{
    background-color: hsl(228, 72%, 42%);
}

.cancel_order_btn{
    color: hsl(224, 23%, 55%);
    margin-bottom: 1.5em;
}


.plan{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0;
}

.icon_music{
    width: 4em;
}
.plan_title, .price{
    margin: 0.5em;
}
.plan_description_text{
    margin-right: .7em;
}

.change_link{
    font-weight: bold;
    color:hsl(245, 23%, 51%);
}







